.bulb {
  background-color: yellow;
  margin: 200px;
  margin-left: 550px;
  height: 300px;
  width: 300px;
  padding: 120px;
  padding-top: 140px;
  border-radius: 50%;
}
.bulbOff {
  background-color: gray;
  margin: 200px;
  margin-left: 550px;
  height: 300px;
  width: 300px;
  padding: 120px;
  padding-top: 140px;
  border-radius: 50%;
}
